* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.3;
}

table {
  
    padding: 0;
}

td {
    border-bottom: 1px solid lightslategray;
    padding: 5px;
  }

 th {
    padding: 5px;
}

thead,
tfoot {
    background-color: lightslategray;
    color: white;
    text-transform: uppercase;
}
  
code {
    color: black;
    background: lightslategray;
    padding: 0.125rem 0.25rem;
    margin: 0.5rem 0.5rem;
    width: fit-content;
    border-radius: 4px;
    font-family: monospace;
}

.td1 {
    font-weight: bold;
}

.td2 {
    text-align: center;
}

h2 {
    color: dimgray;
}

a {
    color: dimgray;
}

.note {
    font-style: italic;
}